<html>
    <% include ./partials/header %>
    <body>
        <div>
        <h3 class="bg-light p-2">Search results</h3>
            <% for(var i=1; i < data.length; i++) { %>
            <div class="result-card">
                            <div class="card m-2" style="width: 15vw;">
                                
                                <div class="card-body">
                                    <i><h5 class="card-title"><%= data[i].firstname %></h5></i>
                                    <p class="card-text">Surname: <%= data[i].surname %></p>
                                    <p class="card-text">Born: <%= data[i].born %></p>
                                    <p class="card-text">Country: <%= data[i].bornCountry %></p>
                                    <p class="card-text">Category: <%= data[i].prizes[0].category %></p>
                                    <p class="card-text">Year: <%= data[i].prizes[0].year %></p>
                                </div>
                            </div>
                        </div>
                        <% } %>
        </div>
        <a href="/" class="btn btn-primary m-2 img-fluid">Go Back</a>
    </body>
</html>